* {
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    background: url('/src/assets/images/bg.webp') center center / cover no-repeat;
}

#app {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Tailwind */
@tailwind base;
@tailwind utilities;


/* CSS Variables */
:root {
    --gradient-1: linear-gradient(90deg, #d9a7c7, #fffcdc);
}
